.das-carousel {
	display: relative;

	.carousel-title { 
		color: white;
		font-weight: bold;
		opacity: .4;
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
		top: 50%;
		left: 50%;
		text-shadow: #000 1px 0 10px;
		transform: translate(-50%, -50%);
		z-index: 100; 
		&.display-2 {
			@include media-breakpoint-down(sm) {
				font-size: 2.5rem;
			}
		}
	}

	.carousel-caption {
		opacity: .7;
		position: absolute;
		right: 2%;
		bottom: 0px;
		z-index: 10;
		color: #FFFFFF;
		text-align: right;

		a {
			color: $text-popping;
			&:hover {
				color: $text-popping-highlight;
				opacity: 1;
			}
		}
	}
}