.das-list-events {

    @extend .col-sm-10;

    margin: 0 auto;

    .cat-4.headliner {    
        box-shadow: 0 0 0 1px #f2c85e;
        margin-bottom: 8px;
        color: #f2c85e;

        h3.event-heading:before {
            content: "HEADLINER! \A";
            color: #f2c85e;
            white-space: pre;
        }
    }

    .filter-shows {

        margin-bottom: 20px;
        padding: 1rem;
        position: sticky;
        top: 0;
        background-color: $background;
        z-index: 50;

        .toggle-buttons, .event-filter-form {
            width: 100%;
        }

        .btn-group-inner {
            display: block;
        }

        .btn-group-label {
            font-weight: bold;
            margin: 0 10px 0;
        }

        .das-event-category {
            @extend .mb-1;

            a {
                font-weight: bold;
                text-decoration: none;
            }
        }

        label.btn {

            &:not(.active) {
                @extend .btn-light;
            }
            
            cursor: pointer;
            margin: 0 2px 0;

            input[type="radio"], input[type="checkbox"] {
                position: absolute;
                clip: rect(0,0,0,0);
                pointer-events: none;
            }

            .icon {
                @extend .icon;
                @extend .icon-cancel-circled;
            }

            &.active {

                @extend .btn-primary;

                .icon {
                    @extend .icon-ok-squared;
                }
               

            }

            @include media-breakpoint-down(sm) {
                margin-bottom: 10px;
            }

        }

        @include media-breakpoint-down(sm) {

            .btn-group-inner {
                display: flex;
                flex-direction: column;
                align-items: start;
            }

            .btn-group-label {
                margin: 0;
            }

            &, .btn {
                margin-bottom: 10px;
            }

            label.btn.active, label.btn {
                &:not(:disabled):not(.disabled) {
                    margin-bottom: 0;
                    padding: 0;
                    background-color: transparent;
                    border: 0px;
                    color: $secondary;
                    text-align: left;
                }
            }

        }

    }

    &.minimal {

        margin: 0;
        max-width: 100%;
        padding: 0;

        .event-image, .event-blurb {
            display: none;
        }

        [class^="col-"] {

            flex: unset;
            max-width: 100%;

        }

        .das-event-day {

            border: 0 !important;
            border-radius: 0 !important;
            margin: 0;

            .das-event-day-header {

                @extend .h4;
                background: transparent;
                color: $secondary;
                font-weight: bold;
                padding-bottom: 0;

            }

            .das-events-day {
                border-bottom: 1px solid $primary;
                margin-bottom: 0;
            }
        }
    }

    .das-event-day {

        margin-top: 1rem;
        margin-bottom: 1rem;

        .das-event-day-header {
            padding: 1rem;
            color: black;
            background-color: $secondary;
            border-radius: 2px 2px 0 0;
            position: sticky;
            top: 100px;
            z-index: 10;
            margin-bottom: 0px;

            @include media-breakpoint-up(xl) { 
                top: 69px;
            }
        }

        .das-events-day {
            padding: 12px 0 12px 0;
    
            .cost {
                font-weight: bold;
                margin-top: 15px;
            }
    
            .das-event {
                list-style-type: none;
                padding: 5px 5px 2rem 5px;
                &.cat-4 {
                    background-color: $background-muted;
                }
                &.cat-5 {
                    background-color: $background-muted;
                }

                &:last-child {
                    padding-bottom: 0;
                }
            }
    
            @include media-breakpoint-down(sm) {
    
                .wp-post-image {
    
                    margin-bottom: 15px;
                    min-width: 100%;
    
                }
    
                .das-event {
                    padding-bottom: 20px;
                }
    
            }
        }

    }

}

.related_events {

    &.minimal {

        .image {
            display: none;
        }

    }
}

