// mailchimp
.mc4wp-alert {
	color: $pink;
}

// email octopus 
[data-form="72dd77be-f990-11ed-87cb-b95f512109aa"] .btn-primary {
	background-color: $interaction_item !important;
    border-color: $interaction_item !important;
    color: $white !important;
    font-size: inherit;
}

[data-form="72dd77be-f990-11ed-87cb-b95f512109aa"] .btn-primary:hover {
	background-color: $interaction_item_accent !important;
    border-color: $interaction_item_accent !important;
    color: $white !important;
    font-size: inherit;
}


[data-form="b91040d6-ca1f-11ed-b32d-db5d4b6f2e27"] .btn-primary {
	background-color: $interaction_item !important;
    border-color: $interaction_item !important;
    color: $white !important;
    font-size: inherit;
}

[data-form="b91040d6-ca1f-11ed-b32d-db5d4b6f2e27"] .btn-primary:hover {
	background-color: $interaction_item_accent !important;
    border-color: $interaction_item_accent !important;
    color: $white !important;
    font-size: inherit;
}