.navbar {
	background-color: $background;
	border-bottom-color: $interaction_item;
	border-bottom-style: solid;

	.header-logo {
	//	max-width: 69px;
	}

	&.navbar-dark {
		.navbar-nav {
			.nav-link:focus {
				color: $navbar-dark-active-color;
			}
		}
	}
}

.nav-link {
	text-transform: uppercase;
}

a.navbar-brand {
	color: #00000000 !important;
	background-image: var(--logo-image-small);
	width: 69px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;

}

@media (min-width: 768px) {
	a.navbar-brand {
		background-image: var(--logo-image);
		width: 100px;
		height: 100px;
	}
}



