.featured-image {
	display: none;
	margin-bottom: 20px;

	img {
		min-width: 100%; 
	}

	@include media-breakpoint-down(sm) {
		&.i-small {
			display: block;
		}
		&.i-medium,
		&.i-full {
			display: none;
		}
	}

	@include media-breakpoint-down(md) {
		&.i-medium {
			display: block;
		}
		&.i-small,
		&.i-full {
			display: none;
		}
	}

	@include media-breakpoint-down(xl) {
		&.i-full {
			display: block;
		}
		&.i-small,
		&.i-medium {
			display: none;
		}
	}
}

article.person, article.team {
	.person-headshot {
		display: grid;
		justify-content: center;
	}
	div#social-links {
		a {
			&.social-media-link {
				padding-bottom: 12px;
			}
			span.social-media-icon {
				@extend .icon;
				display: inline-block;
				margin-right: 8px;
				font-size: 1.5rem;
				flex-shrink: 0;

                @extend .icon-share-squared;

				&.social-media-web {
					@extend .icon-firefox;
				}
				&.social-media-email { 
					@extend .icon-mail-alt;
				}
				&.social-media-twitter {
					@extend .icon-twitter-squared;
				}
				&.social-media-instagram {
					@extend .icon-instagram;
				}
				&.social-media-facebook {
					@extend .icon-facebook-squared;
				}
				&.social-media-tiktok {
					@extend .icon-icons8-tiktok;
				}
				&.social-media-youtube {
					@extend .icon-youtube-play; 
				}
			}
		}
	}
}

#submissions-form {
	@include media-breakpoint-down(md) {
		margin-right: -50px;
		margin-left: -50px;
	}
}

#sign-up-form {
	width: auto;
    height: auto;
    min-height: 2069px;
    min-width: 75%;
	@include media-breakpoint-down(md) {
		min-width: 100vw;
	}
	@include media-breakpoint-up(xl) {
		min-width: 67%;
	}
	max-width: 750px;
    background-color: $interaction_item;
    border-radius: 12px;
}

.das-instructors {
	.related-events-list-header {
		color: #f2c85e;
    	margin-bottom: 1rem;
	}
	.related-events-list {
		display: grid;grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-gap: 50px;
		@include media-breakpoint-down(md) {
			display: block;
		}
	}
}

.person.type-person {
	h3 {
		color: #f2c85e;
	}
}

.team.type-team {
	h3 {
		color: #f2c85e;
	}
}