$pink: 		#F48FA5;
$yellow: 	#F7CE15;
$blue:		#1488C9;
$gray:		#333333;
$white:     #FFFFFF;
$black:     #000000;

$font-family-sans-serif:      evolventa, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$text: #ececec;
$text_muted: #c0c0c0;
$text_inverted: rgb(30, 30, 30);
$text_muted_inverted: #696969;
$text_popping: #F9C035;
$text_popping_highlight: #f4320c;
$text_popping_inverted: #f4320c;
$text_popping_inverted_highlight: #ee5435;
$interaction_item: #8682d1;
$interaction_item_highlight: #5867c9;
$interaction_item_accent: #5B67C3;
$interaction_item_active: #f2c85e;
$interaction_item_inverted: #f2c85e;
$interaction_item_inverted_highlight: #5867c9;
$interaction_item_inverted_accent: #5B67C3;
$interaction_item_inverted_active: #f2c85e;
$background: #000;
$background_highlight: #5B67C3;
$background_muted: #131313;
$background_inverted: #ffffff;
$background_inverted_highlight: #5B67C3;


$primary:       $interaction_item !default;
$secondary:     $interaction_item_inverted !default;
//$success:       $green !default;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
//$light:         $gray-100 !default;
//$dark:          $gray-800 !default;


$navbar-dark-color:                 $interaction_item !default;
$navbar-dark-hover-color:           $interaction_item_highlight !default;
$navbar-dark-active-color:          $interaction_item_active !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-dark-toggler-border-color:  rgba($white, .1) !default;

$navbar-light-color:                 $interaction_item !default;
$navbar-light-hover-color:           $interaction_item_highlight !default;
$navbar-light-active-color:          $interaction_item_active !default;
$navbar-light-disabled-color:       rgba($black, .3) !default;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-light-toggler-border-color: rgba($black, .1) !default;

$navbar-light-brand-color:                $navbar-light-active-color !default;
$navbar-light-brand-hover-color:          $navbar-light-active-color !default;
$navbar-dark-brand-color:                 $navbar-dark-active-color !default;
$navbar-dark-brand-hover-color:           $navbar-dark-active-color !default;

$body-bg: $background;
$body-color: $text;

$card-bg: $background_muted;
$card-border-color: $interaction_item;
$card-color: $text;
$card-cap-color: $text-popping;
$card-cap-bg: $background_muted;


:root {
    --logo-image: url('/wp-content/uploads/2023/05/dark-logo-2023.png');
    --logo-image-small: url('/wp-content/uploads/2023/05/das-dark-2023.png');
    --button-colour: #8682d1;
    --button-text-colour: #ececec;
    --tec-color-text-primary: #ececec;
    --tec-color-text-event-date: #ececec;
    --tec-color-border-secondary: #8682d1;
    --tec-color-text-event-title: #F9C035 !important;
}

