.tribe_events.type-tribe_events {
    
}

button.tribe-events-c-top-bar__datepicker-button.tribe_events  {
    .tribe-events-c-top-bar__datepicker-time {
        span.tribe-events-c-top-bar__datepicker-desktop {
            color: $text-popping;
        }
    }

}

div.tribe-events-c-top-bar.tribe-events-header__top-bar {
    div.tribe-events-c-top-bar__datepicker {
        button {
            time {
                span.tribe-events-c-top-bar__datepicker-desktop {
                    color: $text-popping;
                }
                span.tribe-events-c-top-bar__datepicker-mobile {
                    color: $text-popping;
                }
            }
        }
    }
} 

#tribe-events-view-selector-content { 
    ul {
        li.tribe-events-c-view-selector__list-item {
            &.tribe-events-c-view-selector__list-item--month, &.tribe-events-c-view-selector__list-item--day, &.tribe-events-c-view-selector__list-item--list {
                a {
                    span.tribe-events-c-view-selector__list-item-text {
                        color: $text-inverted;
                    }
                }
                &.tribe-events-c-view-selector__list-item--active {
                    a {
                        span.tribe-events-c-view-selector__list-item-text {
                            color: $interaction_item;
                        }
                    }
                }
            }

        }
    }
}

:root{

    --tec-color-text-primary: #fff !important;
    --tec-font-family-sans-serif: inherit;
    --tec-font-family-base: inherit;
    --tec-color-text-events-title: #ffffff;
    --tec-color-text-event-title: #ffffff;
    --tec-color-text-event-date: #ffffff;
    --tec-color-text-secondary-event-date: #ffffff;
    --tec-color-link-primary: #8682d1;
    --tec-color-link-accent: #8682d1;
    --tec-color-link-accent-hover: rgba(134,130,209, 0.8);
    --tec-color-accent-primary: #f2c85e;
    --tec-color-accent-primary-hover: rgba(242,200,94,0.8);
    --tec-color-accent-primary-multiday: rgba(242,200,94,0.24);
    --tec-color-accent-primary-multiday-hover: rgba(242,200,94,0.34);
    --tec-color-accent-primary-active: rgba(242,200,94,0.9);
    --tec-color-accent-primary-background: rgba(242,200,94,0.07);
    --tec-color-background-secondary-datepicker: rgba(242,200,94,0.5);
    --tec-color-accent-primary-background-datepicker: #f2c85e;
    --tec-color-button-primary: #f2c85e;
    --tec-color-button-primary-hover: rgba(242,200,94,0.8);
    --tec-color-button-primary-active: rgba(242,200,94,0.9);
    --tec-color-button-primary-background: rgba(242,200,94,0.07);
    --tec-color-day-marker-current-month: #f2c85e;
    --tec-color-day-marker-current-month-hover: rgba(242,200,94,0.8);
    --tec-color-day-marker-current-month-active: rgba(242,200,94,0.9);
    --tec-color-background-primary-multiday: rgba(242,200,94, 0.24);
    --tec-color-background-primary-multiday-hover: rgba(242,200,94, 0.34);
    --tec-color-background-primary-multiday-active: rgba(242,200,94, 0.34);
    --tec-color-background-secondary-multiday: rgba(242,200,94, 0.24);
    --tec-color-background-secondary-multiday-hover: rgba(242,200,94, 0.34);
    --tec-color-icon-primary: white !important;
    --tec-color-icon-active: #8682d1 !important;
    --tec-color-icon-hover: #8682d1 !important;

    --tec-color-text-events-title-day: var(--tec-color-text-events-title);
    --tec-color-text-events-title-latest-past: var(--tec-color-text-events-title);
    --tec-color-text-event-title-list: var(--tec-color-text-events-title);
    --tec-color-text-events-title-month-multiday: var(--tec-color-text-events-title);
    --tec-color-text-events-title-widget-list: var(--tec-color-text-events-title);
    --tec-color-text-secondary-event-date-month: var(--tec-color-text-secondary-event-date);
    --tec-color-text-secondary-event-date-month-mobile: var(--tec-color-text-secondary-event-date-month);
    --tec-color-text-day-of-week-month: var(--tec-color-text-secondary);
    --tec-color-day-marker-month: var(--tec-color-text-primary);
    --tec-color-day-marker-month-hover: var(--tec-color-text-primary-hover);
    --tec-color-day-marker-month-active: var(--tec-color-text-primary-active);
    --tec-color-day-marker-current-month: var(--tec-color-day-marker-month);
    --tec-color-day-marker-current-month-hover: var(--tec-color-day-marker-month-hover);
    --tec-color-day-marker-current-month-active: var(--tec-color-day-marker-month-active);
    --tec-color-day-marker-past-month: var(--tec-color-text-primary);
    --tec-color-day-marker-past-month-hover: var(--tec-color-day-marker-past-month);
    --tec-color-day-marker-past-month-active: var(--tec-color-day-marker-past-month);
    --tec-color-text-day-of-week-week: var(--tec-color-text-secondary);
    --tec-border-radius-month-multiday: 9.5px;
    --tec-color-border-secondary-month-grid: var(--tec-color-border-secondary);
    --tec-color-border-active-month-grid-hover: var(--tec-color-border-active);
    --tec-color-background-month-grid: transparent;
    --tec-color-background-tooltip: var(--tec-color-background);

    --tec-color-text-events-bar-input: rgb(30, 30, 30) !important;
    --tec-color-text-events-bar-input-placeholder: #696969 !important;

    --tec-opacity-events-bar-input-placeholder: var(--tec-opacity-default);
    --tec-color-border-events-bar: var(--tec-color-border-secondary);
    --tec-color-background-events-bar: var(--tec-color-background);
    --tec-color-background-view-selector: var(--tec-color-background-events-bar);
    --tec-color-background-view-selector-tabs: var(--tec-color-background-view-selector);
    --tec-color-background-view-selector-list-item-hover: var(--tec-color-background-secondary);
    --tec-color-background-subscribe-list-item-hover: var(--tec-color-background-secondary);
    --tec-color-text-view-selector-list-item: var(--tec-color-text-primary);
    --tec-color-text-view-selector-list-item-hover: var(--tec-color-accent-secondary-hover);
    --tec-color-background-search-container: var(--tec-color-background-events-bar);
    
    --tec-color-text-events-bar-submit-button: var(--tec-color-background);
    --tec-color-text-events-bar-submit-button-active: var(--tec-color-text-events-bar-submit-button);
    --tec-color-text-events-bar-submit-button-hover: var(--tec-color-text-events-bar-submit-button);
    --tec-color-background-events-bar-submit-button: #8682d1 !important;;
    --tec-color-background-events-bar-submit-button-hover: #5867c9 !important;
    --tec-color-background-events-bar-submit-button-active: #5867c9 !important;
    
    --tec-color-icon-events-bar: var(--tec-color-icon-primary);
    --tec-color-icon-events-bar-active: var(--tec-color-icon-active);
    --tec-color-icon-events-bar-hover: var(--tec-color-icon-hover);
}


/*
#tribe-events-events-bar-search  {
    form.tribe-events-c-search.tribe-events-c-events-bar__search-form {
        button.tribe-events-c-search__button {
            color: $text-inverted;
            background-color: $interaction_item;
            &:hover {
                background-color: $interaction_item_highlight;
            }
        }
    }
}
*/

div.tribe-events-calendar-list {
    div.tribe-events-calendar-list__event-wrapper.tribe-common-g-col {
        article {
            div {
                color: $text;
                header {
                    address {
                        color: $text;
                    }
                }
            }
        }
    }
    h2 {
        time.tribe-events-calendar-list__month-separator-text {
            color: $text;
        }
    } 
    div.tribe-events-calendar-list__event-date-tag.tribe-common-g-col {
        time {
            span.tribe-events-calendar-list__event-date-tag-weekday {
                color: $text_muted;
            }
            span.tribe-events-calendar-list__event-date-tag-daynum {
                color: $interaction_item;
            }
        }
    }
} 



.tribe-events-single-event-title {
    color: $text-popping;
}

.tribe-events-single-event-description.tribe-events-content {
    color: $text;
    h1, h2, h3, h4, h5, h6 {
        color: $text-popping;
    }
}

.tribe-events-schedule.tribe-clearfix {
    color: $text;
    .tribe-event-date-start, .tribe-event-time {
        color: $text;
    }
}

.tribe-events-meta-group.tribe-events-meta-group-details {
    color: $white;
    .tribe-events-single-section-title {
        color: $text-popping;
    }
    dd.tribe-events-event-categories {
        a {
            color: $interaction_item;
            &:hover {
                color: $interaction_item_highlight
            }
        }
    }
    .tribe-events-event-url {
        a {
            color: $interaction_item;
            &:hover {
                color: $interaction_item_highlight
            }   
        }
    }
}



.tribe-events-meta-group.tribe-events-meta-group-venue {
    color: $white;
    .tribe-events-single-section-title {
        color: $text-popping;
    }
    dd.tribe-venue-url {
        a {
            color: $interaction_item;
            &:hover {
                color: $interaction_item_highlight
            }   
        }
    }
    a.tribe-events-gmap {
        color: $interaction_item;
        &:hover {
            color: $interaction_item_highlight
        }
    }
}