.text-popping {
	color: $text-popping;
}

a.text-popping {
	&:hover {
		color: $text-popping-highlight;
		text-decoration: none;
	}
}

.link-inactive {
	&:hover {
		color: $interaction_item;
		cursor: default;
    	text-decoration: none;
	}
}

.bg-muted {
    background-color: $background-muted;
}

.basis-half {
	flex-basis: 50%;
}